---
import MySiteLayout from '@layouts/MySiteLayout.astro';
import LowerPageHeader from '@components/common/LowerPageHeader.astro';
import RecruitLowerPageHero from '@components/common/RecruitLowerPageHero.astro';
import HeroImage from '@assets/images/arbeit/arbeitpage-hero.jpg';
import LowerPageH2 from '@components/common/LowerPageH2.astro';
import NumberList from '@components/common/NummberList.astro';
import MessageCard from '@components/common/MessageCard.astro';
const numberItems = [
  {
    number: '01',
    title: 'BootCamp',
    description:
      'ビジネスマナーや英会話のスキルを磨くことは、特に接客業において非常に重要です。接客ロールプレイを通じて、実際のシチュエーションを想定しながら、効果的なコミュニケーション技術を身につけることができます。これにより、お客様との信頼関係を築き、より良いサービスを提供することが可能になります。',
  },
  {
    number: '02',
    title: 'OJT + メンター制度 ',
    description:
      '先輩とペアでフロント・温泉・キャンプ場をローテーション。月1回フィードバック面談',
  },
  {
    number: '03',
    title: 'キャリアラダー研修',
    description:
      '提案プレゼンテーション研修は、管理者候補を育成するための重要なプログラムです。この研修では、効果的なプレゼンテーションスキルを身につけることができ、参加者は自信を持って提案を行うことができるようになります。また、海外提携リゾート視察も行い、国際的な視野を広げることができます。',
  },
  {
    number: '04',
    title: 'BootCamp',
    description:
      'ビジネスマナーや英会話のスキルを磨くことは、特に接客業において非常に重要です。接客ロールプレイを通じて、実際のシチュエーションを想定しながら、効果的なコミュニケーション技術を身につけることができます。これにより、お客様との信頼関係を築き、より良いサービスを提供することが可能になります。',
  },
  {
    number: '05',
    title: 'OJT + メンター制度 ',
    description:
      '先輩とペアでフロント・温泉・キャンプ場をローテーション。月1回フィードバック面談',
  },
  {
    number: '06',
    title: 'キャリアラダー研修',
    description:
      '提案プレゼンテーション研修は、管理者候補を育成するための重要なプログラムです。この研修では、効果的なプレゼンテーションスキルを身につけることができ、参加者は自信を持って提案を行うことができるようになります。また、海外提携リゾート視察も行い、国際的な視野を広げることができます。',
  },
  {
    number: '07',
    title: 'キャリアラダー研修',
    description:
      '提案プレゼンテーション研修は、管理者候補を育成するための重要なプログラムです。この研修では、効果的なプレゼンテーションスキルを身につけることができ、参加者は自信を持って提案を行うことができるようになります。また、海外提携リゾート視察も行い、国際的な視野を広げることができます。',
  },
];

const messages = [
  {
    image: {
      src: 'assets/images/staff/img-staff-01.webp',
      alt: '人事部スタッフの写真',
      width: 400,
      height: 400,
    },
    title: '「失敗できる環境で、思い切り挑む」',
    description:
      '西湖リゾートには、正解というものは存在しません。お客様に「また来たい」と思っていただけるようなアイデアは、どんな新人でも翌日から実践できるものです。それが私たちの文化であり、私たちが大切にしている価値観です。私たちは常に新しい発想を取り入れ、お客様の期待を超える体験を提供することを目指しています。（人事）',
  },
  {
    image: {
      src: 'assets/images/staff/img-staff-02.webp',
      alt: '人事部スタッフの写真',
      width: 400,
      height: 400,
    },
    title: '「失敗できる環境で、思い切り挑む」',
    description:
      '西湖リゾートには、正解というものは存在しません。お客様に「また来たい」と思っていただけるようなアイデアは、どんな新人でも翌日から実践できるものです。それが私たちの文化であり、私たちが大切にしている価値観です。私たちは常に新しい発想を取り入れ、お客様の期待を超える体験を提供することを目指しています。（人事）',
  },
];
---

<MySiteLayout>
  <LowerPageHeader pageTitleEn="Arbeit" pageTitleJa="アルバイト" />
  <RecruitLowerPageHero
    title="週2日から、リゾートバイト。"
    description="週2日からでも、ガッツリ働きたい方にもぴったりなリゾートバイト。美しい自然に囲まれた環境で、楽しい仲間と共に新しい経験をしながら、ワクワクする毎日を過ごしましょう。あなたの理想の働き方がここにあります！"
    heroImage={HeroImage}
    variant="arbeit"
  />
  <section class="section-appeal">
    <LowerPageH2
      title="未経験者歓迎・アルバイトの魅力"
      variant="default"
      position="left"
    />
    <div class="appeal-list-wrapper">
      <NumberList items={numberItems} variant="arbeit" />
    </div>
    <article class="appeal-message-wrapper">
      <h3 class="appeal-message-text">スタッフの声</h3>
      <MessageCard messages={messages} variant="double" />
    </article>
  </section>
</MySiteLayout>

<style lang="scss">
  @import '@styles/functions.scss';
  @import '@styles/mixins.scss';

  .section-appeal {
    padding: spx(60) spx(20);
    background-color: #d8edf7;
    @include tablet-up {
      padding: spx(60) * 0.75 spx(20) * 0.75;
    }
    @include desktop-up {
      padding: ppx(100) ppx(160);
    }
    .appeal-list-wrapper {
      margin-top: spx(40);
      @include tablet-up {
        margin-top: spx(40) * 0.75;
      }
      @include desktop-up {
        margin-top: ppx(40);
      }
      .number-list {
      }
    }
    .appeal-message-wrapper {
      margin-top: spx(80);
      @include tablet-up {
        margin-top: spx(80) * 0.75;
      }
      @include desktop-up {
        margin-top: ppx(80);
      }
      .appeal-message-text {
        font-size: spx(18);
        font-weight: 700;
        line-height: 140%;
        text-align: center;
        margin-bottom: spx(20);
        @include tablet-up {
          font-size: spx(18) * 0.75;
          margin-bottom: spx(20) * 0.75;
        }

        @include desktop-up {
          font-size: ppx(20);
          margin-bottom: ppx(20);
        }
      }
    }
  }
</style>
