---
import ToppageSectionInTitle from '@components/toppage/ToppageSectionInTitle.astro';
import PrimaryButton from '@components/common/PrimaryButton.astro';
import NewsListCore from '@components/common/NewsListCore.astro';
---

<section id="news">
  <div class="content-wrapper">
    <ToppageSectionInTitle largeTitle="お" title="知らせ" enTitle="NEWS" />
  </div>

  <div class="news-wrapper">
    <NewsListCore limit={3} />
  </div>

  <div class="btn-wrapper">
    <PrimaryButton href="/news/" title="お知らせ一覧" />
  </div>
</section>

<style lang="scss">
  @import '@styles/functions.scss';
  @import '@styles/mixins.scss';
  section#news {
    background-color: #e7f3f9;
    padding: spx(60) spx(20);
    @include tablet-up {
      padding: spx(60) * 0.75 spx(20) * 0.75;
    }
    @include desktop-up {
      padding: ppx(100) ppx(160);
    }

    .news-wrapper {
      margin-top: spx(40);
      @include tablet-up {
        margin-top: spx(40) * 0.75;
        padding: 0 10vw;
      }
      @include desktop-up {
        margin-top: ppx(80);
      }
    }

    .btn-wrapper {
      width: max-content;
      margin-top: spx(60);
      margin-left: auto;
      margin-right: auto;

      @include tablet-up {
        margin-top: spx(60) * 0.75;
      }
      @include desktop-up {
        margin-top: ppx(80);
      }
    }
  }
</style>
