---
import Contact from '@components/common/Contact.astro';
import Social from '@components/common/Social.astro';
import WaveDecoration from '@components/common/WaveDecoration.astro';
---

<footer>
  <WaveDecoration fillColor="#E7F3F9" position="top" />
  <div class="social-icons-wrapper">
    <Social />
  </div>
  <div class="contact-info-wrapper">
    <Contact />
  </div>
  <p class="address">
    〒 401-0332<br />
    山梨県 南都留郡 富士河口湖町 西湖1023
  </p>
  <div class="copyright">
    <small>&copy; 2025 HAMAYOUリゾート. All Rights Reserved.</small>
  </div>
</footer>

<style lang="scss">
  @import '@styles/functions.scss';
  @import '@styles/mixins.scss';
  footer {
    background: linear-gradient(96deg, #054965 0.03%, #59a1c0 99.97%), #054965;
    position: relative;
    padding: spx(60) 0;
    @include tablet-up {
      padding: spx(60) * 0.75 0;
    }
    @include desktop-up {
      padding: ppx(100) 0;
    }

    .social-icons-wrapper {
      margin-top: spx(100);
      @include tablet-up {
        margin-top: spx(100) * 0.75;
      }
      @include desktop-up {
        margin-top: ppx(70);
      }
    }
    .contact-info-wrapper {
      margin-top: spx(48);
      @include tablet-up {
        margin-top: spx(48) * 0.75;
      }
      @include desktop-up {
        margin-top: ppx(48);
      }
    }
    .address {
      color: #fff;
      font-size: spx(15);
      font-weight: 400;
      line-height: 133.333%;
      text-align: center;
      margin-top: spx(48);
      @include tablet-up {
        margin-top: spx(48) * 0.75;
      }
      @include desktop-up {
        margin-top: ppx(48);
      }

      @include tablet-up {
        font-size: spx(15) * 0.75;
      }

      @include desktop-up {
        font-size: ppx(15);
      }
    }
    .copyright {
      color: #fff;
      text-align: center;
      margin-top: spx(48);
      @include tablet-up {
        margin-top: spx(48) * 0.75;
      }
      @include desktop-up {
        margin-top: ppx(48);
      }
      small {
        font-size: spx(12);
        font-weight: 400;
        line-height: 133.333%;

        @include tablet-up {
          font-size: spx(12) * 0.75;
        }

        @include desktop-up {
          font-size: ppx(12);
        }
      }
    }
  }
</style>
