---
import { Image } from 'astro:assets';
interface Props {
  className?: string;
}
const { className = '' } = Astro.props;
---

<div class={`social-icons ${className}`}>
  <a href="https://www.facebook.com/hamayouresort" target="_blank">
    <Image
      src="/facebook.svg"
      alt="facebook"
      width={50}
      height={50}
      class="social-icon"
    />
  </a>
  <a href="https://www.instagram.com/hamayouresort_recruit/" target="_blank">
    <Image
      src="/instagram.svg"
      alt="instagram"
      width={50}
      height={50}
      class="social-icon"
    />
  </a>
  <a href="https://x.com/hamayou_recruit" target="_blank">
    <Image src="/x.svg" alt="x" width={50} height={50} class="social-icon x" />
  </a>
</div>

<style lang="scss">
  @import '@styles/functions.scss';
  @import '@styles/mixins.scss';

  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: spx(24);
    @include tablet-up {
      gap: spx(24) * 0.75;
    }
    @include desktop-up {
      gap: ppx(24);
    }
    a {
      display: block;
      width: max-content;
      height: max-content;
      .social-icon {
        width: spx(40);
        height: spx(40);
        @include tablet-up {
          width: spx(40) * 0.75;
          height: spx(40) * 0.75;
        }
        @include desktop-up {
          width: ppx(40);
          height: ppx(40);
        }
        &.x {
          width: spx(33);
          height: spx(33);
          @include tablet-up {
            width: spx(33) * 0.75;
            height: spx(33) * 0.75;
          }
          @include desktop-up {
            width: ppx(33);
            height: ppx(33);
          }
        }
      }
    }
    &.mobile-menu-social {
      margin-top: spx(60);
      @include tablet-up {
        margin-top: spx(100) * 0.75;
      }
    }
  }
</style>
