---
interface Props {
  fillColor?: string; // デフォルト値を指定可能に
}
const { fillColor = '#E7F3F9' } = Astro.props;
---

<div class="wave-decoration">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 402 60"
    fill="none"
    class="mobile"
  >
    <path
      d="M0 15.0561C0 15.0561 109.5 48.9323 201 15.0561C292.5 -18.8201 402 15.0561 402 15.0561V60H0V15.0561Z"
      fill={fillColor}></path>
  </svg>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 834 106"
    fill="none"
    class="tablet"
  >
    <path
      d="M0 31.7468C0 31.7468 207 102.994 417 31.7468C627 -39.5 834 31.7468 834 31.7468V109H0V31.7468Z"
      fill={fillColor}></path>
  </svg>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 107"
    fill="none"
    class="desktop"
  >
    <path
      d="M0 37.9523C0 37.9523 205.92 123.345 720 37.9523C1234.08 -47.4404 1440 37.9523 1440 37.9523V107H0V37.9523Z"
      fill={fillColor}></path>
  </svg>
</div>

<style lang="scss">
  @import '@styles/functions.scss';
  @import '@styles/mixins.scss';

  .wave-decoration {
    position: absolute;
    left: 0;
    bottom: -1px; // 継ぎ目を滑らかにするために微調整
    width: 100%;
    z-index: 1;
    svg {
      width: 100%;
      height: auto;
      display: block;
      &.mobile {
        @include tablet-up {
          display: none;
        }
      }
      &.tablet {
        display: none;
        @include tablet-up {
          display: block;
        }
        @include desktop-up {
          display: none;
        }
      }
      &.desktop {
        display: none;
        @include desktop-up {
          display: block;
        }
      }
    }
  }
</style>
