@import "destyle.css";
@import "@styles/functions.scss";
@import "@styles/mixins.scss";
// フォント
$font-didot: "Didot", serif;
$font-noto-serif-jp: "Noto Serif JP", serif;

html {
    // スクロールのスムーズな動き
    scroll-behavior: smooth;
    // Flash Of Unstyled Text
    // visibility: hidden;
    // opacity: 0;

    // &.wf-active,
    // &.loading-delay {
    //     visibility: visible;
    //     opacity: 1;
    // }
    body {
        @include zen-kaku-gothic-new-regular;
        background-color: #e7f3f9;
        color: #054965;
        letter-spacing: 0.02em;
        line-height: 1.4;
        &.no-scroll {
            overflow: hidden;
        }
    }
}
.sp {
    display: block;
    @include tablet-up {
        display: none;
    }
}
.tab {
    display: none;
    @include tablet-up {
        display: block;
    }
    @include desktop-up {
        display: none;
    }
}
.pc {
    display: none;
    @include tablet-up {
        display: block;
    }
}

// フェードインアップ
.fadein-up {
    opacity: 0;
    transform: translateY(12px);
    transition:
        opacity 0.9s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.9s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: opacity, transform;
}
.fadein-up.is-inview {
    opacity: 1;
    transform: translateY(0);
}
