---
import LowerPageH2 from '@components/common/LowerPageH2.astro';
import { Image } from 'astro:assets';
import PolicyList from '@components/common/PolicyList.astro';

const policyItems = [
  {
    number: '01',
    title: '人物重視',
    description:
      '履歴書よりも、私たちが大切にしているのは"ゲストを喜ばせたい気持ち"です。この気持ちを持って、私たちは日々の業務に取り組んでいます。ゲスト一人一人の笑顔を見られることが、私たちの最大の喜びであり、そのために全力を尽くしています。',
  },
  {
    number: '02',
    title: 'リアルを伝える',
    description:
      '面接では、応募者にとってのメリットだけでなく、実際に経験した大変な点についても正直に話すことが重要です。これにより、企業側は応募者の本音を理解し、より良いマッチングができるでしょう。',
  },
  {
    number: '03',
    title: '相互理解',
    description:
      '入社後の職場環境をより具体的にイメージできるように、職場見学や社員座談会を用意しています。これにより、実際の業務やチームの雰囲気を体感し、先輩社員との交流を通じて、会社の文化や価値観を理解することができます。',
  },
];
---

<div class="policy-section">
  <LowerPageH2 title="私たちの選考ポリシー" variant="default" position="left" />
  <PolicyList items={policyItems} />
  <h3 class="interview-points-title">面接で見るポイント</h3>
  <div class="interview-points">
    <div class="youtube-wrapper">
      <Image
        src="/preparing-youtube.webp"
        alt="90秒でわかるHAMAYOUリゾートのリアル"
        width={740}
        height={440}
        style="width: 100%; height: auto; object-fit: cover;"
      />
    </div>
    <ul class="point-list">
      <li>基本的な対話力</li>
      <li>チームで働く姿勢</li>
      <li>学びへの前向きさ</li>
      <li>当社バリューとの共鳴</li>
      <li>お客様視点の提案力</li>
    </ul>
  </div>
</div>

<style lang="scss">
  @import '@styles/functions.scss';
  @import '@styles/mixins.scss';

  .policy-section {
    padding: 0 spx(20) spx(60);
    @include tablet-up {
      padding: 0 spx(20) * 0.75 spx(60) * 0.75;
    }
    @include desktop-up {
      padding: 0 ppx(100) ppx(100);
    }
    .interview-points-title {
      margin-top: spx(40);
      font-size: spx(18);
      font-weight: 500;
      line-height: 100%;
      text-align: center;

      @include tablet-up {
        margin-top: spx(40) * 0.75;
        font-size: spx(18) * 0.75;
      }

      @include desktop-up {
        margin-top: ppx(100);
        font-size: ppx(20);
      }
    }
    .interview-points {
      display: flex;
      flex-flow: column;
      gap: spx(20);
      margin-top: spx(20);
      width: fit-content;
      margin-inline: auto;
      @include tablet-up {
        margin-top: spx(20) * 0.75;
        gap: spx(20) * 0.75;
      }
      @include desktop-up {
        flex-flow: row;
        gap: ppx(50);
        margin-top: ppx(40);
      }
      .youtube-wrapper {
        height: auto;
        margin-inline: auto;
        @include tablet-up {
          width: 80%;
        }
        @include desktop-up {
          width: ppx(500);
        }
      }
      .point-list {
        width: 100%;
        margin-inline: auto;
        @include tablet-up {
          width: 80%;
        }
        @include desktop-up {
          width: auto;
        }
        li {
          color: #054965;
          font-size: spx(14);
          font-weight: 500;
          list-style: disc;
          margin-left: spx(20);

          @include tablet-up {
            font-size: spx(14) * 0.75;
            margin-left: spx(20) * 0.75;
          }

          @include desktop-up {
            font-size: ppx(18);
            margin-left: ppx(20);
          }
        }
      }
    }
  }
</style>
