---
import NewsListCore from '@components/common/NewsListCore.astro';
---

<div class="news-wrapper">
  <NewsListCore />
</div>

<style lang="scss">
  @import '@styles/functions.scss';
  @import '@styles/mixins.scss';
  .news-wrapper {
    padding: 0 spx(20) spx(40);
    @include tablet-up {
      padding: 0 spx(20) * 0.75 spx(40) * 0.75;
      width: 90%;
      margin-inline: auto;
    }
    @include desktop-up {
      padding: 0 ppx(160) ppx(100);
      width: 100%;
    }
  }
</style>
