---
import LowerPageH2 from '@components/common/LowerPageH2.astro';
import FlatImage from '@assets/images/mid-career/mid-careerpage-flat.png';
import { Image } from 'astro:assets';
const messages = [
  {
    image: {
      src: 'assets/images/staff/img-staff-01.webp',
      alt: '人事部スタッフの写真',
      width: 400,
      height: 400,
    },
    title: '「失敗できる環境で、思い切り挑む」',
    description:
      '西湖リゾートには、正解というものは存在しません。お客様に「また来たい」と思っていただけるようなアイデアは、どんな新人でも翌日から実践できるものです。それが私たちの文化であり、私たちが大切にしている価値観です。私たちは常に新しい発想を取り入れ、お客様の期待を超える体験を提供することを目指しています。（人事）',
  },
];
---

<section class="section-flat">
  <LowerPageH2 title="フラットな組織文化" variant="default" position="left" />
  <div class="section-flat__content">
    <div class="flat-card-wrapper">
      <h3 class="flat-card-content__title">シンプルチャットで仕事を加速</h3>
      <p class="flat-card-content__description">
        当社のやり取りはチャットアプリを活用しています。最低限のルールを設け、形式的なあいさつや堅苦しい言い回しは一切不要です。これは礼儀を省くためではなく、生産性を最大化するための設計思想。役職や年次を気にせず発信でき、フラットでスマートなコミュニケーションが、あなたのアイデアをダイレクトにチームへ届かせます。
      </p>
    </div>
    <figure class="flat-image-wrapper">
      <Image
        src={FlatImage}
        alt="フラットな組織文化"
        width={500}
        height={333}
        class="flat-image fadein-up"
      />
    </figure>
  </div>

  <style lang="scss">
    @import '@styles/functions.scss';
    @import '@styles/mixins.scss';

    .section-flat {
      padding: spx(60) spx(20);
      @include tablet-up {
        padding: spx(20) * 0.75;
      }
      @include desktop-up {
        padding: ppx(100) ppx(160);
      }
      .section-flat__content {
        display: grid;
        grid-template-columns: auto;
        gap: spx(20);
        margin-top: spx(40);
        @include tablet-up {
          grid-template-columns: 1fr 1fr;
          gap: spx(20) * 0.75;
          width: 90%;
          margin-inline: auto;
          margin-top: spx(40) * 0.75;
        }
        @include desktop-up {
          gap: ppx(40);
          width: 80%;
          margin-top: ppx(40);
        }
        .flat-card-wrapper {
          display: flex;
          flex-direction: column;
          gap: spx(8);
          @include tablet-up {
            gap: spx(8) * 0.75;
          }
          @include desktop-up {
            gap: ppx(8);
          }
          .flat-card-content {
            &__title {
              font-weight: 700;
            }
            &__description {
            }
          }
        }
        .flat-image-wrapper {
          .flat-image {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  </style>
</section>
