---
import LowerPageH2 from '@components/common/LowerPageH2.astro';
import MessageCard from '@components/common/MessageCard.astro';
import FlatImage from '@assets/images/mid-career/mid-careerpage-flat.png';
import { Image } from 'astro:assets';
const messages = [
  {
    image: {
      src: 'assets/images/staff/img-staff-01.webp',
      alt: '人事部スタッフの写真',
      width: 400,
      height: 400,
    },
    title: '「失敗できる環境で、思い切り挑む」',
    description:
      '西湖リゾートには、正解というものは存在しません。お客様に「また来たい」と思っていただけるようなアイデアは、どんな新人でも翌日から実践できるものです。それが私たちの文化であり、私たちが大切にしている価値観です。私たちは常に新しい発想を取り入れ、お客様の期待を超える体験を提供することを目指しています。（人事）',
  },
];
---

<section class="section-flat">
  <LowerPageH2 title="フラットな組織文化" variant="default" position="left" />
  <div class="section-flat__content">
    <div class="flat-card-wrapper">
      <MessageCard messages={messages} variant="single" />
    </div>
    <figure class="flat-image-wrapper">
      <Image
        src={FlatImage}
        alt="フラットな組織文化"
        width={500}
        height={333}
        class="flat-image fadein-up"
      />
    </figure>
  </div>
</section>

<style lang="scss">
  @import '@styles/functions.scss';
  @import '@styles/mixins.scss';

  .section-flat {
    padding: spx(60) spx(20);
    @include tablet-up {
      padding: spx(20) * 0.75;
    }
    @include desktop-up {
      padding: ppx(100) ppx(160);
    }
    .section-flat__content {
      display: grid;
      grid-template-columns: auto;
      gap: spx(20);
      margin-top: spx(40);
      @include tablet-up {
        grid-template-columns: 1fr 1fr;
        gap: spx(20) * 0.75;
        width: 90%;
        margin-inline: auto;
        margin-top: spx(40) * 0.75;
      }
      @include desktop-up {
        gap: ppx(40);
        width: 80%;
        margin-top: ppx(40);
      }
      .flat-card-wrapper {
      }
      .flat-image-wrapper {
        .flat-image {
          width: 100%;
          height: auto;
        }
      }
    }
  }
</style>
